:host {
  display: block;
  margin-top: 2%;
}

mat-form-field {
  width: 80%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.preview-image {
  height: 5rem;
  margin: 1rem 0;
}

.preview-image img {
  height: 100%;
}
